* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 5px solid black;
/*   
min-height: 40vh;

max-height: 90vh; */

}

.item {

  font-size: 2em;
  text-align: center;
  border: 5px solid red;
  background-color: dodgerblue;

  /* flex-basis: 200px;
  flex-shrink: 2;
  flex-grow: 2; */

  flex: 1 1;
}

.slowest {
  flex: 0.5 0.5;
}

.fastest {
  flex: 2 2;
}

.flex-container {
  display: flex;
  flex-direction: row;


}



