* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 5px solid black;
/*   
min-height: 40vh;

max-height: 90vh; */

}

.item {

  font-size: 2em;
  text-align: center;
  border: 5px solid red;
  background-color: dodgerblue;

  flex-grow: 1;

}

.flex-container {
  display: flex;
  flex-direction: row;

  width: 1200px;
  margin: 0 auto;

}



